@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@300;400;500;700;800;900&family=Smokum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-lg;
  }

  p {
    @apply font-serif;
    @apply text-lg;
  }




  button {
    @apply py-1 px-2 bg-n-turquoise text-white rounded-md transition-shadow;
  }

  button:hover {
    @apply shadow-lg bg-n-turquoise-dark;
  }

  button:active {
    @apply bg-n-turquoise-light;
  }

  button:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  button:disabled:hover {
    @apply shadow-none bg-n-turquoise;
  }
}

/*#region fonts */
@font-face {
  font-family: "BwGradual";
  src: url("./assets/fonts/bwgradual/BwGradualDEMO-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BwGradual";
  src: url("./assets/fonts/bwgradual/BwGradualDEMO-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "BwGradual";
  src: url("./assets/fonts/bwgradual/BwGradualDEMO-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "BwGradual";
  src: url("./assets/fonts/bwgradual/BwGradualDEMO-ExtraBold.otf");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "BwGradual";
  src: url("./assets/fonts/bwgradual/BwGradualDEMO-Thin.otf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "BwGradual";
  src: url("./assets/fonts/bwgradual/BwGradualDEMO-Medium.otf");
  font-weight: medium;
  font-style: normal;
}

/*#endregion */

/*#region scrollbar */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: theme("colors.transparent");
  border-radius: 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: theme("colors.n-platinum");
  border-radius: 1px;
  border: 1px solid theme("colors.n-dark");
}


/*#endregion */